{% extends 'base.html' %}
{% block page %}

<div class="center">
	<p>Bee Chat</p>
</div>
<div class="center">
	<section id="chat_area">
		{% for i in chats %}
			{% if i.user_id == current_user.id %}
				<li3>{{i.sender}} ->> {{i.msg}}</li3>
			{% else -%}
				<li4>{{i.msg}} <<- {{i.sender}}</li4>
			{% endif %}
			<br>
		{% endfor %}
</div>
<form action="{{ url_for('send_message') }}" method="POST">
	<div id="send_chat">
	<textarea rows=4 cols=40 type="text" name="msg" placeholder="send chat message as User: >{{current_user.username}}<"></textarea>
	<input type="submit" value="Send chat" class="btn">
	</div>
</form>		
{% endblock %}
