{% extends "base.html" %}

{% block page %}
        <form action = "" id = "email">
                <h1> <input id="recipient" name="recipient" type="text" placeholder="Recipient phone number" cl>                <h1> <input id="subject" name="subject" type="text" placeholder="Subject" class="textbox"/><h1/>                <h1> <input id="msg" name="msg" type="text" placeholder="Type here" class="textbox"/><h1/></br>>
                <d> <input type = "submit" class = "btn" value = "Send"><d/>
        <form/>
{% endblock %}
