{% extends 'base.html' %}

{% block page %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
                <div class="notification is-danger">
                {{ messages[0] }}
                </div>
        {% endif %}
        {% endwith %}
        <form action = "/composer" id = "compose">
                <h1> <input type = "submit" class="btn" value="Compose Email"></h1></br></br>
        <form/>
        <a class = "circleButtons" href = "{{url_for('delete')}}">Delete Account</a>
        <a class = "circleButtons" href = "{{url_for('profile')}}">Go to Profile</a>
        {% for i in emailList %}
                </br></br>
                {{i[0]}}
                </br>
                {{i[1]}}
<!--            <a href = "{{url_for('register')}}">{{i}}  -->
        {% endfor %}
{% endblock %}

