{% extends 'base.html' %}

{% block page %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
                <div style= "font-size:30" class="notification is-danger">
                {{ messages[0] }}
                </div>
        {% endif %}
        {% endwith %}
        <form action = "/composer" id = "compose">
                <h1> <input type = "submit" class="btn" value="Compose Email"></h1></br></br>
        </form>
        <form action= "" method="post">
                <h1> <input id="searchoption" name="searchoption" type="text" placeholder="Search parameter" class="textbox"><input type="submit" class="btn" value="Search"></h1>
        </form>
        <form action="/inbox">
                      <h1> <input type="submit" class="btn" value="Clear Search"></h1>
        </form>
        <a class = "circleButtons" href = "{{url_for('delete')}}">Delete Account</a>
        <a class = "circleButtons" href = "{{url_for('profile')}}">Go to Profile</a>
        {% for i in emailList %}
                </br>
                <ul>
                <li class='mark' id = "emails"> from: </br>subject: {{i.subject}}<d>&nbsp;&emsp;<d><a style="font-size = 25" href="{{ url_for('emailReader', id=i.id) }}">Read</a></li>
                </ul>
        {% endfor %}
{% endblock %}

