body{
  background-color:#222224; 
  font-family: 'Anuphan', sans-serif;
  color:white; 
}

.todoitem{
  color:black;
  border: 7px solid #64391a;
  padding: 7px;
  background-color: #f0ca62;
}

.emails{
  color:black;
  width: 50%;
  border: 7px solid #64391a;
  padding: 7px;
}

#back-to-inbox{
  bottom;
  height:30px;
  width: 120px;
  background-color: #f0ca62
}

input[id="msg"]{
  height: 200px;
  width: 400px;
}

input[id="sendmsg"]{
  height: 30px;
  width: 70px;
  background-color: #f0ca62
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0ca62;
  align: center; 
  
}

li{
  float:left; 
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#delete-email{
  float: right;
  float: top;
}

#bee-nav{
  float: right; 
  padding: 0px; 
  margin: 0px; 
}

#bee-div{
  text-align:center; 
}
#bee-pic{
  height: 200px; 
  background-color:  #f0ca62; 
  border-radius: 100%; 
}

#about-us{
  text-align:center; 
}

li a:hover{
  animation: hoverColor 3s infinite; 
}

@keyframes hoverColor{
   0% { color: #f08989; }
  20% { color: #ffcc7a; }
  40% { color: #f0ca62; }
  60% {color: #91ffa0;}
  80% {color: #a8beed;}
  100% {color: #fc96ff}
  
}

.textBox{
  border-radius: 10px; 
  padding:5px; 
}

.btn{
  background-color:#f0ca62; 
  border-radius: 10px; 
  padding:5px; 
  color:#222224;
  
  
}

.active{
  background-color:#968808; 
}

#welcome{
  text-align: center; 
  margin-bottom: 0px; 
  
}

h4{
  text-align: center; 
  
}
