body{
  background-color:#222224; 
  font-family: 'Anuphan', sans-serif;
  color:white; 
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0ca62;
  
}

li{
  float:left; 
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  animation: hoverColor 3s infinite; 
}

@keyframes hoverColor{
   0% { color: #f08989; }
  20% { color: #ffcc7a; }
  40% { color: #f0ca62; }
  60% {color: #91ffa0;}
  80% {color: #a8beed;}
  100% {color: #fc96ff}
  
}

.active{
  background-color:#968808; 
}

